div {
  align-items: center;
  background: #f44336;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #f44336;
  display: flex;
  justify-content: space-around;
  margin: 0 0 .5rem 0;
  padding: .2rem;
  text-align: center;

  * {
    display: inline-block;
  }

  p {
  color: #fafafa;
    margin: .2rem;

    &.content {
      font-size: 1em;
    }
  }
}
