:host {
  height: 100%;
}

.container {

  @media (min-width: 1250px) {
    width: 1150px;
    margin: 0 auto;
  }

  padding: 3% 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card {

  @media (min-width: 600px) {
    width: 200px;
  }
  @media (min-width: 700px) {
    width: 250px;
  }
  @media (min-width: 850px) {
    width: 200px;
  }
  @media (min-width: 1000px) {
    width: 230px;
  }
  @media (min-width: 1250px) {
    width: 200px;
  }

  cursor: pointer;
  margin: 20px 0;
  * {
    min-width: 100px;
  }
  mat-card-title {
    text-align: center;
    height: 140px;
  }
  mat-card-subtitle {
    text-align: right;
  }
}

@media (min-width: 1280px) {
  mat-card {
    margin: 20px;
  }
}

@media (min-width: 1920px) and (max-width: 2159px) {
  mat-card {
    margin: 20px 40px;
  }
}

@media (min-width: 2160px) and (max-width: 2559px) {
  mat-card {
    margin: 20px 60px;
  }
}
