:host {
  height: 100%;
}

.container {
  padding: 6% 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card {
  width: 200px;
  cursor: pointer;
  margin: 20px 0;
  padding: 40px;
  * {
    min-width: 100px;
  }
  mat-card-title {
    text-align: center;
    height: 140px;
  }
  mat-card-subtitle {
    text-align: right;
  }
}

@media (min-width: 1280px) {
  mat-card {
    margin: 20px;
  }
}

@media (min-width: 1920px) and (max-width: 2159px) {
  mat-card {
    margin: 20px 40px;
  }
}

@media (min-width: 2160px) and (max-width: 2559px) {
  mat-card {
    margin: 20px 60px;
  }
}
