.create-fab {
  position: absolute;
  bottom: 56px;
  padding: 16px;
  right: 0;

  button[mat-fab] {
    color: #fff;
  }
}

@media only screen and (min-width: 601px) {
  .create-fab {
    bottom: 0;
  }
}
