<form (ngSubmit)="sell()">
  <mat-select placeholder="Modalidade" name="modality" [(ngModel)]="selectedModality" class="dropdown">
    <mat-option *ngFor="let modality of modalities" [value]="modality">
      {{modality}}
    </mat-option>
  </mat-select>
  <mat-input-container required name="generic" class="generic">
    <span matPrefix *ngIf="selectedModality === 'Leilão' || selectedModality === 'Venda'">R$ &nbsp;</span>
    <input *ngIf="selectedModality === ''" matInput placeholder="Moeda de troca" type="text" [(ngModel)]="exchange" name="genericInput">
    <input *ngIf="selectedModality === 'Troca'" matInput placeholder="Livro desejado" type="text" [(ngModel)]="exchange" name="trading">
    <input mask="000.00" specialCharacters="false" *ngIf="selectedModality === 'Venda'" matInput placeholder="Preço" type="number"
      [(ngModel)]="exchange" name="selling">
    <input mask="000.00" specialCharacters="false" *ngIf="selectedModality === 'Leilão'" matInput placeholder="Lance inicial"
      type="number" [(ngModel)]="exchange" name="auctioning">
  </mat-input-container>
  <mat-input-container [hidden]="selectedModality !== 'Leilão'" name="aucionOnly" class="auctionInput">
    <input matInput [matDatepicker]="picker" [(ngModel)]="due" [min]="minDate" [max]="maxDate" placeholder="Prazo do leilão" name="auctionDue">
    <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-input-container>

  <divider></divider>

  <button mat-raised-button type="submit">Ofertar!</button>
</form>
<navbar></navbar>
