:host {
  width: 100%;
}

.nav {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10;
}

.search {
  align-items: stretch;
  display: flex;
  justify-content: center;
  width: 100%;


  * {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
    padding: 0 0 0 5px;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #000;
  }
}

.brand {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;

  img {
    height: 40px;
    margin-right: 5px;
  }
}

.spaced {
  justify-content: space-between;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}


.shadow {
  width: 100%;
}

.shadow.simple {
  height: 63px;
}

.shadow.expanded {
  height: 127px;
}

@media (max-width: 600px) {
  .shadow.simple {
    height: 56px;
  }
  .shadow.expanded {
    height: 112px;
  }
  .small-button {
    min-width: 56px;
    padding: 0;
  }
}
