.nav {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
}

.search {
  align-items: stretch;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search * {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.search input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 1;
  padding: 0 0 0 5px;
}

.search button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.brand {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 5px;
}

.brand img {
  height: 40px;
  margin-right: 5px;
}

.search button,
button[md-button] {
  text-transform: uppercase;
}

.spaced {
  justify-content: space-between;
}
