<md-toolbar color="primary" class="nav">
  <md-toolbar-row *ngIf="withSearch">
    <div class="search">
      <input type="text">
      <button md-raised-button type="button">Search</button>
    </div>
  </md-toolbar-row>
  <md-toolbar-row class="spaced">
    <a class="brand" routerLink="/home">
      <img class="logo" src="assets/logo.png">Booktionator
    </a>
    <button md-button *ngIf="!isLogged" routerLink="{{pageRoute}}">{{accessText}}</button>
    <button md-button *ngIf="isLogged" [mdMenuTriggerFor]="menu">
      {{username}}
      <md-icon>account_box</md-icon>
    </button>
    <md-menu #menu="mdMenu" xPosition="before" yPosition="above">
      <button md-menu-item>
        <md-icon>perm_identity</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item>
        <md-icon>exit_to_app</md-icon>
        <span>Log out</span>
      </button>
    </md-menu>
  </md-toolbar-row>
</md-toolbar>
