<mat-tab-group>
  <mat-tab label="Compras">
    <mat-card *ngFor="let transaction of buys">
      <mat-card-title>{{ transaction.product.title }}</mat-card-title>
      <mat-card-subtitle>{{ transaction.from }}, {{ transaction.endAt }}</mat-card-subtitle>
      <mat-card-content>{{ transaction.exchange }}</mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="Vendas">
    <mat-card *ngFor="let transaction of exchanges">
      <mat-card-title>{{ transaction.product }}</mat-card-title>
      <mat-card-subtitle>{{ transaction.to }}, {{ exchanges.endAt }}</mat-card-subtitle>
      <mat-card-content>{{ transaction.exchange }}</mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
<navbar></navbar>
