<form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" class="form" [hidden]="!validCode">
  <mat-input-container>
    <input matInput [(ngModel)]="email" name="email" placeholder="Email" type="email" disabled>
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="newPassword" required name="password" placeholder="Nova senha" [type]="toggler.type">
    <password-toggle matSuffix></password-toggle>
  </mat-input-container>
  <button mat-raised-button type="submit">Confirmar</button>
</form>
<div class="form" *ngIf="!validCode">
  Ocorreu um erro
</div>
