<form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" class="form" [hidden]="!validCode">
  <md-input-container>
    <input mdInput [(ngModel)]="email" name="email" placeholder="Email" type="email" disabled>
  </md-input-container>
  <md-input-container>
    <input mdInput [(ngModel)]="newPassword" required name="password" placeholder="Nova senha" [type]="toggler.type">
    <password-toggle mdSuffix></password-toggle>
  </md-input-container>
  <button md-raised-button type="submit">Confirmar</button>
</form>
<div class="form" *ngIf="!validCode">
  Ocorreu um erro
</div>
