<form (ngSubmit)="register()" #registerForm="ngForm" class="form" autocomplete="off">
  <mat-input-container>
    <input matInput [(ngModel)]="name" name="name" type="text" required placeholder="Nome">
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="email" name="email" type="email" required placeholder="Email">
    <mat-error *ngIf="validator.errors.email">{{validator.errors.email}}</mat-error>
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="password" [type]="toggler.type" name="password" required placeholder="Senha" minlength="6">
    <password-toggle matSuffix></password-toggle>
    <mat-error *ngIf="validator.errors.password">{{validator.errors.password}}</mat-error>
  </mat-input-container>
  <mat-input-container>
    <input matInput mask="00000-000" [(ngModel)]="postalcode" name="postalcode" type="text" required placeholder="CEP">
    <mat-error *ngIf="validator.errors.postalcode">{{validator.errors.postalcode}}</mat-error>
  </mat-input-container>
  <mat-input-container>
    <input matInput mask="(00) 0000-00000" specialCharacters="false" [(ngModel)]="phone" name="phone" type="text" required placeholder="Celular">
    <mat-error *ngIf="validator.errors.phone">{{validator.errors.phone}}</mat-error>
  </mat-input-container>

  <button mat-raised-button type="submit">Registrar</button>
</form>
