:host {
  padding: 5% 10%;
}

.form {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 10%;

  mat-input-container,
  password {
    align-self: stretch;
  }
}

.center {
  display: block;
  margin: 0 auto;
}
