<mat-toolbar color="primary" class="nav">
  <div class="spaced">
    <a class="brand" routerLink="/home">
      <img class="logo" src="assets/logo.png">Booktionator
    </a>
    <div class="hide-mobile">
      <button mat-button (click)="redirect('search')">
        <mat-icon>search</mat-icon> Buscar
      </button>
      <button mat-button (click)="redirect('add')">
        <mat-icon>add</mat-icon> Anunciar
      </button>
      <button mat-button (click)="redirect('history')">
        <mat-icon>history</mat-icon> Histórico
      </button>
    </div>
    <button mat-button *ngIf="!isLogged" routerLink="/access/login">Entrar</button>
    <div *ngIf="isLogged">
      <button mat-button [matMenuTriggerFor]="menu">
      {{loggedUser}}
      <mat-icon>account_box</mat-icon>
    </button>
      <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <button mat-menu-item routerLink="/user/settings">
          <mat-icon>settings</mat-icon>
          <span>Configurações</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
