:host {
  height: 100%;
}

.container {
  padding: 6% 8%;
  display: flex;
  flex-wrap: wrap;
}

md-card {
  cursor: pointer;
  margin: 20px 0;
  padding: 40px;
  * {
    min-width: 100px;
  }
  md-card-title {
    text-align: center;
    height: 84px;
  }
  md-card-subtitle {
    text-align: right;
  }
}

@media (min-width: 600px) {
  .container {
    justify-content: space-around;
  }
  md-card {
    width: 170px;
  }
}

@media (min-width: 1280px) {
  md-card {
    margin: 20px;
  }
}
