:host {
  align-items: center;
  color: #ffd600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
}

:host([disabled]) {
  cursor: default;
  pointer-events: none;
}
