<form #searchForm="ngForm" (ngSubmit)="submit()" class="search">
  <div class="input-container shadow">
    <input type="search" placeholder="Buscar" name="search" autocomplete="on" [(ngModel)]="term">
    <span class="icon left">
      <mat-icon>search</mat-icon>
    </span>
    <span class="icon right" (click)="clear()">
      <mat-icon [hidden]="isEmpty()">close</mat-icon>
    </span>
  </div>
  <button class="shadow hide-mobile" type="submit">
      <mat-icon>arrow_forward</mat-icon>
    </button>
</form>
