<form class="create" #createBookForm="ngForm" (ngSubmit)="save()">
  <mat-input-container>
    <input matInput [(ngModel)]="title" name="title" type="text" placeholder="Título" required>
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="author" name="author" type="text" placeholder="Autor" required>
  </mat-input-container>
  <mat-input-container>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" placeholder="Lançamento" required>
    <!-- <button matSuffix [matDatepickerToggle]="picker"></button> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="publisher" name="publisher" type="text" placeholder="Editora" required>
  </mat-input-container>
  <mat-input-container>
    <textarea matInput matTextareaAutosize [(ngModel)]="description" #desc name="description" maxlength="250" rows="3" placeholder="Descrição"></textarea>
    <mat-hint align="end">{{desc.value.length}} / 250</mat-hint>
  </mat-input-container>
  <button mat-raised-button type="submit">Salvar</button>
</form>
