.create {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10%;
  width: 100%;

  mat-input-container {
    align-self: stretch;
  }
}
