:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro img {
  height: 50px;
}

.login {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
}

.login > md-input-container {
  align-self: stretch;
}

.fill-window {
  height: 100vh;
  width: 100vw;
}
