<div class="container">
  <mat-card class="book">
    <mat-card-title>{{ book.title }}</mat-card-title>
    <div>
      <img mat-card-image [src]="book.imageUrl" alt="Merlin configure a Book API">
      <mat-card-subtitle>{{ book.author }}, {{ book.date.getFullYear() }}</mat-card-subtitle>
    </div>
    <p>{{ book.description }}</p>
    <mat-card-content>
      <rate [score]="book.score" disabled></rate>
    </mat-card-content>
  </mat-card>
  <mat-card class="offers" *ngFor="let offer of offers">
    <mat-card-content>
      <p>Modalidade: {{ offer.modality }}</p>
      <p *ngIf="offer.modality === 'Troca'">Item desejado: {{ offer.exchange }}</p>
      <button mat-raised-button *ngIf="offer.modality === 'Troca'" (click)="buy(offer.uid)">
        Quero
      </button>
      <button mat-raised-button *ngIf="offer.modality === 'Venda'" (click)="buy(offer.uid)">R${{ offer.exchange }}</button><button mat-raised-button *ngIf="offer.modality === 'Leilão'" (click)="bid(offer.uid, offer.exchange)">R${{ offer.exchange }}</button>
    </mat-card-content>
  </mat-card>
</div>
<navbar></navbar>
