/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*Workaround to hide the first md-toolbar-row that angular-material2 auto add*/
md-toolbar-row.mat-toolbar-row:first-of-type {
  display: none;
}

/*Tranform all buttons text to uppercase according to Material Design Guide Lines*/
button[md-button],
button[md-raised-button],
button[md-icon-button],
button[md-fab],
button[md-mini-fab] {
  text-transform: uppercase;
}


/*Remove pre margin and padding from body and html*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}
