.sort {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;

    mat-form-field {
        align-self: flex-end;
        margin-right: 4%;
    }

    @media (min-width: 1250px) {
        width: 1150px;
        margin: 0 auto;
      }
}