<result-viewer [hidden]="!error" [content]="errorMessage" error="true"></result-viewer>
<form (ngSubmit)="login()" #loginForm="ngForm" class="form">
  <mat-input-container>
    <input matInput [(ngModel)]="email" required name="email" placeholder="Email" type="email">
  </mat-input-container>
  <mat-input-container>
    <input matInput [(ngModel)]="password" required name="password" placeholder="Senha" [type]="toggler.type">
    <password-toggle matSuffix></password-toggle>
  </mat-input-container>
  <a routerLink="/access/request-reset" class="forget-password">Esqueceu a sua senha?</a>
  <button mat-raised-button type="submit">Entrar</button>
</form>

<divider></divider>

<button mat-button routerLink="/access/register" class="center">Registrar</button>
